.Rproj.user
.Rhistory
.RData
.Ruserdata
Info Processing_submission.Rproj
backup
comparemodels.R
diff.log
diff.tex
diffR2.tex
diffR3.log
diffR3.spl
diffR3.tex
diffwrongfile.log
diffwrongfile.spl
diffwrongfile.tex
gdrivesync.R
manuscript for submission.Rmd
manuscript for submission_beforefinalediting.Rmd
manuscript for submission_beforefirstsubmission.Rmd
manuscript-for-submission.log
manuscript-for-submission.spl
manuscript-for-submission.tex
manuscript-for-submission_beforefinalediting.pdf
manuscript-for-submission_beforefinalediting.tex
manuscript-for-submission_beforefirstsubmission.tex
old
submission.qmd
submission.spl
submission.tex
submission.thm
submissionR1.pdf
submissionR1.qmd
submissionR1.spl
submissionR1.tex
submissionR1.thm
submissionR1_cache
submissionR2.pdf
submissionR2.spl
submissionR2.tex
submissionR2.thm
submissionR2_cache
submission_cache
titlepage.Rmd
titlepage.log
titlepage.pdf
titlepage.qmd
titlepage.spl
titlepage.tex
titlepage.thm
modeloutput/fullmodel_OLD1_estimates.csv
modeloutput/fullmodel_OLD1_model.rds
modeloutput/fullmodel_OLD1_output.txt
modeloutput/fullmodel_OLD2_estimates.csv
modeloutput/fullmodel_OLD2_model.rds
modeloutput/fullmodel_OLD2_output.txt
modeloutput/fullmodel_estimates.csv
modeloutput/fullmodel_iterations.csv
modeloutput/fullmodel_output.txt
modeloutput/heteros_model_OLD1_estimates.csv
modeloutput/heteros_model_OLD1_model.rds
modeloutput/heteros_model_OLD1_output.txt
modeloutput/heteros_model_OLD2_estimates.csv
modeloutput/heteros_model_OLD2_model.rds
modeloutput/heteros_model_OLD2_output.txt
modeloutput/heteros_model_estimates.csv
modeloutput/heteros_model_iterations.csv
modeloutput/heteros_model_output.txt
modeloutput/mixedtimeinthet_estimates.csv
modeloutput/mixedtimeinthet_iterations.csv
modeloutput/mixedtimeinthet_output.txt
modeloutput/modelWTPspace_OLD1_estimates.csv
modeloutput/modelWTPspace_OLD1_model.rds
modeloutput/modelWTPspace_OLD1_output.txt
modeloutput/modelWTPspace_estimates.csv
modeloutput/modelWTPspace_iterations.csv
modeloutput/modelWTPspace_onlyinfo_OLD1_estimates.csv
modeloutput/modelWTPspace_onlyinfo_OLD1_model.rds
modeloutput/modelWTPspace_onlyinfo_OLD1_output.txt
modeloutput/modelWTPspace_onlyinfo_estimates.csv
modeloutput/modelWTPspace_onlyinfo_iterations.csv
modeloutput/modelWTPspace_onlyinfo_output.txt
modeloutput/modelWTPspace_output.txt
modeloutput/modelWTPspace_quesioninteraction_OLD1_estimates.csv
modeloutput/modelWTPspace_quesioninteraction_OLD1_model.rds
modeloutput/modelWTPspace_quesioninteraction_OLD1_output.txt
modeloutput/modelWTPspace_quesioninteraction_estimates.csv
modeloutput/modelWTPspace_quesioninteraction_iterations.csv
modeloutput/modelWTPspace_quesioninteraction_output.txt
modeloutput/modelWTPspacenointeractions_OLD1_estimates.csv
modeloutput/modelWTPspacenointeractions_OLD1_model.rds
modeloutput/modelWTPspacenointeractions_OLD1_output.txt
modeloutput/modelWTPspacenointeractions_OLD2_estimates.csv
modeloutput/modelWTPspacenointeractions_OLD2_model.rds
modeloutput/modelWTPspacenointeractions_OLD2_output.txt
modeloutput/modelWTPspacenointeractions_estimates.csv
modeloutput/modelWTPspacenointeractions_iterations.csv
modeloutput/modelWTPspacenointeractions_output.txt
modeloutput/prefspace_OLD1_estimates.csv
modeloutput/prefspace_OLD1_model.rds
modeloutput/prefspace_OLD1_output.txt
modeloutput/prefspace_OLD2_estimates.csv
modeloutput/prefspace_OLD2_model.rds
modeloutput/prefspace_OLD2_output.txt
modeloutput/prefspace_estimates.csv
modeloutput/prefspace_iterations.csv
modeloutput/prefspace_model.rds
modeloutput/prefspace_output.txt
modeloutput/simple_model_OLD1_estimates.csv
modeloutput/simple_model_OLD1_model.rds
modeloutput/simple_model_OLD1_output.txt
modeloutput/simple_model_OLD2_estimates.csv
modeloutput/simple_model_OLD2_model.rds
modeloutput/simple_model_OLD2_output.txt
modeloutput/simple_model_estimates.csv
modeloutput/simple_model_iterations.csv
modeloutput/simple_model_output.txt
scripts/prepare tables.R